body {
    background-color: lightskyblue;
    font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}

#container {
    width: 350px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(112, 112, 112, 0.7);

    /* Центрируем контейнер с формой */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header-title {
    text-transform: uppercase;
    padding-bottom: 25px;
    font-weight: 600;
}

.button {
    background-color: #DE7997;
    color: white;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(82, 3, 82, 0.5);
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.input-field {
    border: 1px solid lightgrey;
    cursor: text;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 7px #00ccff;
}

.label-group {
    margin-bottom: 23px;
}

.label-text {
    margin-bottom: 9px;
    font-size: 18px;
}

.button, .input-field {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: inherit;
}
